@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-family-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
	--font-family-mono: 'JetBrains Mono', ui-monospace, monospace;
}
